#IntelliJ .idea/ directory files
#these store user-specific configs
.idea/workspace.xml
.idea/tasks.xml

#Android Studio/IntelliJ local.properties
#if included, screws up ADK/JDK location
local.properties

#Windows shortcuts
*.lnk

#exclude old temp/ directory
temp/
