#files under IntelliJ-system .idea/ directory
#these define user configs and such
.idea/workspace.xml
.idea/tasks.xml

#local.properties for IntelliJ/Android Studio
local.properties

#Windows shortcuts which appear for some reason
*.lnk

#exclude the REALLY OLD temp directory
temp/
